.container {
    text-align: center;
    padding-bottom: 50px;
}

.book {
    display: flex;
    gap: 25px;
}

.book :nth-child(1) {
    margin-top: 2rem;
}

.book h3 {
    margin-top: 0;
}

div {
    margin-bottom: 10px;
}

div img {
    width: 25%;
    margin: 15px;
}

.book p {
    margin-right: 25px;
}

div hr {
    width: 25%;
    margin-left: calc(47.5% + 55px);

    border: 1px solid black;
    opacity: 0.7;
    margin-bottom: 15px;
}

/* #id */

@media (max-width: 768px) {
    .book {
        display: flex;
        flex-direction: column;
        margin: 15px;
        text-align: center;
        justify-content: center;
    }
    .book img {
        margin: auto;
        width: 50%;
    }

    .book p {
        text-align: justify;
        width: 100%;
    }
}
