


.container {
    text-align: center;
}

.hero-image img{
    width: 7rem;
}
input[type='submit'] {

    margin-top: 20px;
    display: inline-block;
    font-weight: 400;

    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #b82c2c;

    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


#sign-up label{
    display: inline-block;
    padding: 10px 0;
}

#sign-up input,#sign-up textarea{
max-width: calc(90% - 1rem);
padding: 0.5rem;
}


@media screen and (max-width:375px) {
    textarea {
        max-width: calc(90% - 1rem);
        height: auto;
    }
}

@media screen and (min-width:1440px) {
    body{
        display: flex;
        flex-direction: column;
    }

    .container{
        padding: 50PX;
        flex:1 0 auto;
        

    }

    footer{
        margin:0
    }
}