html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}




/* #id */

#sign-up{
    text-align: center;
}
/* 
footer */
footer #contact-us {
    text-align: center;
}

footer .sign-form {
    margin-bottom: 10px;
    width: 33%;
}


footer label {
    display: block;
    margin-bottom: -10px;
    color: silver;
}

footer h2 {
    color: #a3c9aa;
}

input[type='submit'] {

    margin-top: 20px;
    display: inline-block;
    font-weight: 400;

    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #b82c2c;

    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer #contact-us {
    align-self: center;
}




@media screen and (max-width:375px) {
    textarea {
        width: 100%;
        height: auto;
    }
}