* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f1f1f1;
}

header {
    margin: 0 auto; /* Assurez-vous qu'il n'y a pas de marge latérale */
    padding: 0; /* Assurez-vous que le padding est réinitialisé ou contrôlé */
    min-width: 0;
}
h1,
h2,
h3,
h4,
nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}
.heading {
    
    background-color: #373e5b;
    color: aliceblue;
    text-align: center;
}

.heading > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header a {
    color: aliceblue;
    text-decoration: none;
}

/* HEADER */

header h1,
header img {
    padding: 10px;
}

header nav {
    
    margin-bottom: 20px;
    background-color: #844b3a;
}

header h1 {
    margin-bottom: 20px;
}

.hero-image {
    text-align: center;
    

}

.hero-image img {
    max-width: 50%;
    margin-bottom: 25px;
}

h2 {
    margin: 25px;
    text-transform: uppercase;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    color: silver;
}

/* main */
h3::before {
    content: ' « ';
}

h3::after {
    content: ' » ';
}

h3 {
    margin: 15px;
    text-transform: uppercase;
    text-align: center;
}

.heading, footer{
    height:  25%
}
/* FOOTER */

footer {
    
    margin-top: 50px;
    background-color: #844b3a;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer #contact-us {
    text-align: center;
}

footer .copyright {
    padding: 20px;
    color: #a3c9aa;
}





footer a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
}

footer h4 {
    color: silver;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
    padding-bottom: 15px;
}









@media (max-width: 768px) {

   
    main {
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 426px) {
    main {
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1025px) {
    .heading {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .heading > a {
        width: 50%;
        align-self: center;
    }

    header nav {
        background-color: transparent;
        width: 50%;
        margin: 0;
        align-self: center;
    }
}